.Flex-Container{
    /* border:2px solid red; */
    display:flex;
    height:700px;
    justify-content: center;
    align-items: center;
}
body{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,93,0.8029805672268908) 35%, rgba(0,212,255,1) 100%);
}
.number{
    font-size: 30px;
}
.Clock-Container {
    display: block;
    height: 500px;
    width: 500px;
    background-color: #bbb;
    border-radius: 50%;
    position:relative;
    /* display: inline-block; */
  }
.Clock-Container .number{
    /* --rotation:0; */
    position: absolute;
    width:100%;
    height:100%;
    text-align: center;
    /* transform: rotate(--rotation); */
}
.number.number1{
    transform: rotate(30deg);
}
.number.number2{
    transform: rotate(60deg);
}
.number.number3{
    transform: rotate(90deg);
}
.number.number4{
    transform: rotate(120deg);
}
.number.number5{
    transform: rotate(150deg);
}
.number.number6{
    transform: rotate(180deg);
}
.number.number7{
    transform: rotate(210deg);
}
.number.number8{
    transform: rotate(240deg);
}
.number.number9{
    transform: rotate(270deg);
}
.number.number10{
    transform: rotate(300deg);
}
.number.number11{
    transform: rotate(330deg);
}
.number.number12{
    transform: rotate(360deg);
}
.Clock-Container .Hand{
    /* position: absolute;
    width:40%;
    height:4px;
    padding:2px;
    left:50%;
    bottom:50%;
    background-color: black;
   transform-origin: bottom; */
   position: absolute;
    width:4px;
    height: 50%;
    left:50%;
    bottom:50%;
    background-color: black;
   transform-origin: bottom;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}
.Clock-Container::after{
    content: "";
    position:absolute;
    background-color: black;
    top:50%;
    bottom:50%;
    left:50%;
    height:15px;
    width:15px;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    z-index: 11px;
}
.Hand.Hour{
    z-index: 2px;
    width:10px;
    height:45%;
    transform: translateX(-50%) rotate(0deg);
}
.Hand.Min{
    z-index: 4px;
    height:40%;
    transform: translateX(-50%) rotate(0deg);
}
.Hand.Sec{
    z-index: 8px;
    width:2px;
    height: 35%;
    background-color: red;
    transform: translateX(-50%) rotate(0deg);
}