/* h1{
    color:red;
    font-size:20px;
    font-style: italic;
} */
.line{
    /* font-size:50px; */
    /* size: 20px; */
    font-style: italic;
    
}
.line.one{
    background-color: brown;
}
.line.two{
    background-color: aqua;
}